body{
  width:400px;
}
h3{
  text-align: center;
}
.section-trellify {
  float:left;
  padding: 10px;

  width:200px;
}
#btn-trellify {
  margin-top: 10px;
}
.section-restore {
  float:left;
  padding: 10px;

  width:200px;
}
#btn-restore {
  margin-top: 10px;
}
.section-bookmark-name {
  width:200px;
  float:left;
  padding: 10px;
}
.section-bookmark-list {
  width:200px;
  float:left;
  padding: 10px;
}
.section-bookmark-btn {
  width:400px;
  padding: 10px;
}
.section-bookmark-label {
  padding: 10px;
}
#btn-bookmark {

}